.gallery {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.galleryCard {
  cursor: zoom-in;
}

.galleryCard:hover,
.galleryCard:focus {
  transform: scale(1.07);
  z-index: 1;
}
